@import "../../App.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 6vh;
  z-index: 100;
  // background-color: #fff;
  //그라데이션 효과 주기
  background-image: linear-gradient(to right bottom, #ff5c5c, #ad6dfc);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  min-width: 100vw;
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  transition: top 0.3s;

  &.hidden {
    top: -6vh;
  }

  &.visible {
    top: 0;
  }

  .logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #eaeaea;
    padding-left: 1rem;
  }

  .icon-back {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    font-size: 1.5rem;

    .nav-link {
      color: rgb(155, 155, 155);
      font-size: 20px;
      font-weight: bold;
    }

    // 선택되었을 때
    .active {
      color: #eaeaea;
    }
  }

  .icon-bell {
    display: flex;
    align-items: center;
    padding-right: 1rem;
    font-size: 1.5rem;

    .nav-link {
      color: rgb(255, 166, 0);
      font-size: 20px;
      font-weight: bold;
    }

    // 선택되었을 때
    .active {
      color: rgba(255, 255, 255, 0);
    }
  }
}

@media (min-width: $max-width) {
  .header {
    min-width: $max-width;
  }
}
